@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    background-color: black;
}

.Titulo{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    font-family: 'Cinzel', serif;
    color: white;
}


/* Caroulsel */

.carousel{
    margin: 100px 50px 0px 50px;
}

/* inicio */

.inicio{
    display: flex; 
    padding: 5px 5px;
    margin: 70px 70px 50px 70px;
    /* border: 1px solid pink ; */
}

.divText{
    display: flex;
    margin: 0px 50px;
    width: 633px;
    height: 456px;
    align-items: center;
    font-size: 30px;
    /* border: 1px solid red; */
}

.text{
    font-family: 'Lora', serif;
    color: white;

}

.imgInicio{
    display: flex;
    margin: 0px 50px 0px 10px;
    /* border: 1px solid blue; */
}

.cebollin{
    display: flex;
    width: 400px;
}

.subTitulo{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Cinzel', serif;
}

/* cartas */

.cartas{
    margin: 50px 125px 100px 125px;
}

.cards{
    text-decoration: none;
    color: black;
}

.card-body{
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}